<h1>Employees</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Salary</th>
      <th scope="col">Position</th>
      <th scope="col">Date Of Birth</th>
      <th colspan="2" scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  <tbody>
    <% @employees.dig("data").each do |employee| %>
      <%= render partial: 'employee', locals: { employee: employee } %>
    <% end %>
  </tbody>
</table>

<ul class="pagination">
  <li class="page-item <%= @employees.dig("meta", "current_page") == 1 ? 'disabled' : '' %>">
    <%= link_to 'First', employees_path(page: 1), class: "page-link" %>
  </li>
  <li class="page-item <%= @employees.dig("meta", "prev_page").nil? ? 'disabled' : '' %>">
    <%= link_to 'Previous', employees_path(page: @employees.dig("meta", "prev_page")), class: "page-link" %>
  </li>
  <li class="page-item <%= @employees.dig("meta", "next_page").nil? ? 'disabled' : '' %>">
    <%= link_to 'Next', employees_path(page: @employees.dig("meta", "next_page")), class: "page-link" %>
  </li>
  <li class="page-item <%= @employees.dig("meta", "current_page") == @employees.dig("meta", "total_pages") ? 'disabled' : '' %>">
    <%= link_to 'Last', employees_path(page: @employees.dig("meta", "total_pages")), class: "page-link" %>
  </li>
</ul>
